<wcl-action-bar [actionBarBtns]="actionBarBtns" (actionBarBtnEvent)="actionBarBtnClick($event)"></wcl-action-bar>

<section>
    <main>

    </main>

    <div>

    </div>
</section>


<section class="bottom-section">
    <div>*After selecting desired timesheets, click one of the buttons below to either 'Approve' or 'Re-Open' timesheets(s)</div>

    <div>
        <button class="btn-default">Approve Timesheet(s) for Processing</button>
        <button class="btn-default">Reject to Employee(s)</button>
    </div>
</section>