@import '~src/app/shared/styles/colors/default.colors.scss';
@import '~src/app/shared/styles/sizes/default.sizes.scss';
@import '~src/app/shared/styles/buttons/_mixin.buttons.scss';

body {
    @include font-size(md);
}


.btn-default {
    @include btn-default();
}

.btn-primary {
    @include btn-primary();
}

.custom-square {
    border: 1px solid color(gray);
    border-radius: 2px;
    height: size(xs);
    width: size(xs);
}