@import '~src/app/shared/styles/sizes/default.sizes.scss';
@import '~src/app/shared/styles/colors/default.colors.scss';

.page-wrapper {
    box-sizing: border-box;
    max-width: breakpoint(medium);
    margin: auto;
    position: relative;
    top: 50px;
}

section {
    @include margin-bottom(md);
    display: block;
    min-width: breakpoint(xs);
}

label {
    @include margin(none, sm);
}

select {
    min-width: 250px;
}